<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>eebv.org.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login2</servlet-name>
        <servlet-class>eebv.org.Login2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login3</servlet-name>
        <servlet-class>eebv.org.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>eebv.org.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Board</servlet-name>
        <servlet-class>eebv.org.Board</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Board_Creation</servlet-name>
        <servlet-class>eebv.org.Board_Creation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserData</servlet-name>
        <servlet-class>eebv.org.GetUserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp2</servlet-name>
        <servlet-class>eebv.org.SignUp2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PutaMadre</servlet-name>
        <servlet-class>eebv.org.PutaMadre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>eebv.org.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBoardsData</servlet-name>
        <servlet-class>eebv.org.GetBoardsData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Board_Update</servlet-name>
        <servlet-class>eebv.org.Board_Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Board_Delete</servlet-name>
        <servlet-class>eebv.org.Board_Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetColumnsData</servlet-name>
        <servlet-class>eebv.org.GetColumnsData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Laputamadre</servlet-name>
        <servlet-class>eebv.org.Laputamadre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login2</servlet-name>
        <url-pattern>/Login2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login3</servlet-name>
        <url-pattern>/Login3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Board</servlet-name>
        <url-pattern>/Board</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Board_Creation</servlet-name>
        <url-pattern>/Board_Creation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserData</servlet-name>
        <url-pattern>/GetUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp2</servlet-name>
        <url-pattern>/SignUp2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PutaMadre</servlet-name>
        <url-pattern>/PutaMadre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBoardsData</servlet-name>
        <url-pattern>/GetBoardsData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Board_Update</servlet-name>
        <url-pattern>/Board_Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Board_Delete</servlet-name>
        <url-pattern>/Board_Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetColumnsData</servlet-name>
        <url-pattern>/GetColumnsData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Laputamadre</servlet-name>
        <url-pattern>/Laputamadre</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
