<html>

<head>
    <title>Jellio Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../ASSETS/css/materialize.min.css">
    <link rel="stylesheet" href="../ASSETS/css/materialize.min.css" media="screen,projection">
    <style type="text/css" media="screen">

</style>
</head>

<body>
    <div class="row center-cols center-align">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="http://www.ilikewallpaper.net/ipad-wallpapers/download/2268/Square-Pattern-ipad-wallpaper-ilikewallpaper_com.jpg">
                    <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Sample1</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col m4">
            <div class="card">
                <div class="card-image">
                    <img src="http://www.ilikewallpaper.net/ipad-wallpapers/download/2268/Square-Pattern-ipad-wallpaper-ilikewallpaper_com.jpg">
                    <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Sample2</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>
    <!-- libraries -->
    <script src="../ASSETS/js/dev/jquery.min.js"></script>
    <script src="../ASSETS/js/dev/materialize.min.js"></script>
</body>