<html>
    <head>
        <title>Jellio Board</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../ASSETS/css/materialize.min.css">
        <link rel="stylesheet" href="../ASSETS/css/materialize.min.css" media="screen,projection">
        <style type="text/css" media="screen">
        </style>
    </head>
    <body>
        <form action="FileUpload" method="post" enctype="multipart/form-data">
            <input type="text" name="description" />
            <input type="file" name="files" id="files">
            <input type="submit" />
        </form>
        <!-- libraries -->
        <script src="../ASSETS/js/dev/jquery.min.js"></script>
        <script src="../ASSETS/js/dev/materialize.min.js"></script>
        <script>
            $('form').submit(function(e) {
                e.preventDefault();
                let data = new FormData();
                let file = $('#files')[0].files[0];
                data.append("file", file);
                let json = {};
                json.name = "elio";
                data.append("data", json);
                fetch("http://localhost:8080/FileUpload/FileUpload", {
                    method : "POST",
                    body : data
                })
                .then(r=> console.log(r))
                .catch(err => console.log(err))
                })
        </script>
    </body>